<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Usamos el fragmento del head -->
<head th:replace="fragments :: head"></head>
<body>
    <!-- Usamos el fragmento del menú -->
    <div th:replace="fragments :: menu"></div>

    <header>
        <h1>Enlaces Externos del Sevilla FC</h1>
    </header>
    <main>
        <section>
            <h2>Enlaces de Interés</h2>
            <ul>
                <li><a href="https://www.sevillafc.es/" target="_blank">Página Oficial del Sevilla FC</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Sevilla_F%C3%BAtbol_Club" target="_blank">Wikipedia - Sevilla FC</a></li>
                <li><a href="https://www.laliga.com/laliga-santander/sevilla" target="_blank">Sevilla FC en La Liga</a></li>
            </ul>
        </section>
    </main>
</body>
</html>
