<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Usamos el fragmento del head -->
<head th:replace="fragments :: head"></head>
<body>

    <!-- Usamos el fragmento del menú -->
    <div th:replace="fragments :: menu"></div>

    <header>
        <h1>Palmarés del Sevilla FC</h1>
    </header>
    <main>
        <section>
            <h2>Títulos Nacionales</h2>
            <ul>
                <li th:each="title : ${titles}" th:text="${title}"></li>
            </ul>
        </section>
        <section>
            <img src="/images/sevilla-trofeo.jpg" alt="Trofeo del Sevilla FC" width="200">
        </section>
    </main>
</body>
</html>
